$big-banner-min-height: 50vh !default;
$big-banner-max-height: false !default;

$big-banner-body-gutter: 40px !default;

$big-banner-footer-gutter: 20px !default;

$big-banner-wrapper-gutter: 20px !default;
$big-banner-wrapper-max-width: 960px !default;