$big-banner-min-height: 50vh !default;
$big-banner-max-height: false !default;

$big-banner-header-gutter: 20px !default;
$big-banner-header-max-width: 960px !default;

$big-banner-body-gutter: 40px 20px !default;
$big-banner-body-max-width: 960px !default;

$big-banner-footer-gutter: 20px !default;
$big-banner-footer-max-width: 960px !default;

$big-banner-vertical-align: middle !default;