@mixin core_big-banner {
	.big-banner {
		position: relative;
		height: 100%;
	}

	.big-banner-content {
		display: table;
		width: 200%;
		height: 100%;
		margin-left: -100%;
		position: relative;
		table-layout: fixed;
		vertical-align: middle;

	}

	.big-banner-content-push,
	.big-banner-content-align {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}

	.big-banner-content-push {
		&:before {
			display: block;
			content: " ";
			height: $big-banner-min-height;

			@if $big-banner-max-height != false {
				max-height: $big-banner-max-height;
			}
		}
	}

	.big-banner-content-align-body {
		display: table;
		width: 100%;
		height: 100%;
		vertical-align: inherit;
		table-layout: fixed;
	}

	.big-banner-body,
	.big-banner-footer {
		display: table-row;
		width: 100%;
		height: 100%;
		vertical-align: inherit;
	}

	.big-banner-footer {
		height: 1px;
	}

	.big-banner-body-align,
	.big-banner-footer-align {
		display: table-cell;
		width: 100%;
	}

	.big-banner-body-align {
		visibility: inherit;
		padding: $big-banner-body-gutter 0 $big-banner-footer-gutter;

		&:only-child {
			padding-bottom: $big-banner-body-gutter;
		}
	}

	.big-banner-footer-align {
		vertical-align: bottom;
		padding: $big-banner-footer-gutter 0;
	}

	.big-banner-wrapper {
		margin: 0 auto;
		max-width: $big-banner-wrapper-max-width;
		padding: 0 $big-banner-wrapper-gutter;
	}

	.big-banner-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		overflow: hidden;

		> img {
			visibility: hidden;
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}