@mixin core_big-banner {
	.big-banner {
		position: relative;
	}

	.big-banner-content {
		display: table;
		width: 100%;
		height: 100%;
		table-layout: fixed;
		position: relative;
	}

	.big-banner-content-push {
		float: left;
		margin-right: -1px;
		width: 1px;
		visibility: hidden;
		position: relative;
		overflow: hidden;

		@if $big-banner-max-height != false {
			max-height: $big-banner-max-height;
		}

		&:before {
			display: block;
			content: " ";
			min-height: $big-banner-min-height;
		}
	}

	.big-banner-content-align {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: top;
	}

	.big-banner-content-align-body {
		display: table;
		width: 100%;
		height: 100%;
		table-layout: fixed;
	}

	.big-banner-body,
	.big-banner-footer {
		position: relative;
		display: table-row;
		width: 100%;
	}

	.big-banner-body {
		height: 100%;
	}

	.big-banner-footer {
		height: 1px;
	}

	.big-banner-body-align,
	.big-banner-footer-align {
		display: table-cell;
		height: 100%;
		width: 100%;
		vertical-align: middle;
	}

	.big-banner-body-align {
		padding: $big-banner-body-gutter 0 $big-banner-footer-gutter;

		&:only-child {
			padding-bottom: $big-banner-body-gutter;
		}
	}

	.big-banner-footer-align {
		padding: $big-banner-footer-gutter 0;
	}

	.big-banner-wrapper {
		margin: 0 auto;
		max-width: $big-banner-wrapper-max-width;
		padding: 0 $big-banner-wrapper-gutter;
	}

	.big-banner-stage,
	.big-banner-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.big-banner-image {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		overflow: hidden;

		> img {
			visibility: hidden;
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}